# IntelliJ
.idea
*.iml

# MacOS
.DS_Store

# Android
app/platforms/android/local.properties
app/platforms/android/assets
app/platforms/android/bin
app/platforms/android/gen
*.apk
*.ap_
*.dex
*.class

