/* BODY */
body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s;
}
.body-push-toright { left: 240px; }
.body-push-toleft { left: -240px; }

/* SIDEBAR */
.sidebar {
  -webkit-transition: all 0.3s;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.sidebar-left {
  left: -240px;
  box-shadow: 0 0 10px #888888 inset;
}
.sidebar-left.sidebar-left-open {
  //left: 0;
  position: absolute;
}
.sidebar-right {
  right: -240px;
}
.sidebar-right.sidebar-right-open {
  position: absolute;
}




a.improve-docs,
a.view-source{
  display: none;
}

#wrapper {
  position: relative;
}

#main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  padding: 0 10px;
}

.list-doc-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #595b5b;
  border-top: 1px solid #777;
}
.list-doc-item a {
  padding: 8px 10px;
  display: block;
  color: #eee;
}
.list-doc-item a:hover {
  text-decoration: none;
  background-color: #b0cbdc;
}
.list-doc-item.active {
  background-color: #b0cbdc;
}