body {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 100%;
}

a.improve-docs,
a.view-source{
  display: none;
}


#sidebar-right {
  position: absolute; width: 200px; top: 0; right: -200px; overflow: hidden;
  -webkit-transition: all 0.5s;
}

#main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
}

.content {
  padding: 0 10px;
}

.has-menu-left #main { left: 200px; right: -200px;}
.has-menu-right #main { right: 200px; left: -200px;}

.navbar { border-radius: 0; margin-bottom: 0; }
.navbar-inverse { background-color: #414147; }

  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

.list-doc-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #edf0f1;
  border: 1px solid #dddddd;
}
.list-doc-item a {
  padding: 5px 10px;
  display: block;
  color: #333;
}



.list-doc-item.active {
  background-color: #b0cbdc;
}


.sidebar-left {
  position: absolute; width: 200px; left: 0; top: 0; overflow: hidden;
}
.sidebar-left.ng-hide-add,.sidebar-left.ng-hide-remove{
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
  display: block!important;
}
.sidebar-left.ng-hide-add.ng-hide-add-active,.sidebar-left.ng-hide-remove{
  left: -200px;
}
.sidebar-left.ng-hide-add,.sidebar-left.ng-hide-remove.ng-hide-remove-active{
  left: 0;
}


.sidebar-right {
  position: absolute; width: 200px; right: 0; top: 0; overflow: hidden;
}
.sidebar-right.ng-hide-add,.sidebar-right.ng-hide-remove{
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
  display: block!important;
}
.sidebar-right.ng-hide-add.ng-hide-add-active,.sidebar-right.ng-hide-remove{
  right: -200px;
}
.sidebar-right.ng-hide-add,.sidebar-right.ng-hide-remove.ng-hide-remove-active{
  right: 0;
}
