body {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

a.improve-docs,
a.view-source{
  display: none;
}

#sidebar-left {
  position: absolute; width: 200px; top: 0; left: -200px; overflow: hidden;
  -webkit-transition: all 0.5s;

}

#sidebar-right {
  position: absolute; width: 200px; top: 0; right: -200px; overflow: hidden;
  -webkit-transition: all 0.5s;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
}

.content {
  padding: 10px;
}

.has-menu-left #sidebar-left { left: 0; }
.has-menu-left #main { left: 200px;}

.has-menu-right #sidebar-right { right: 0; }
.has-menu-right #main { right: 200px;}

.navbar { border-radius: 0; }
.navbar-inverse { background-color: #414147; }

.list-doc-item {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-bottom: -1px;
  background-color: #edf0f1;
  border: 1px solid #dddddd;
}